{port_env, [{"LDFLAGS", "$LDFLAGS -lwiringPi -lwiringPiDev -lpthread"}]}.

{deps, [
        {wiringPi, ".*", {git, "git://git.drogon.net/wiringPi", {branch, "master"}}, [raw]}
	]}.


{deps_dir, "deps"}.
{pre_hooks, [
	     {compile, "bash -c 'cd deps/wiringPi; sudo ./build; sudo ldconfig'"}
	    ]}.
	     